.founders-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.founder {
  text-align: center;
  width: 50%; /* divide the container into 2 columns */
}

.founder img {
  margin-top:15px;
  display: block;
  margin: 0 auto;
}
