@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main:#f10722;
    --black:#000;
    --white:#fff;
    --font_family: "Roboto", sans-serif;
}
*{
    font-family: var(--font_family);
    transition: 0.3s;
}
*::selection{
    background: var(--main);
    color: var(--white) !important;
}

.btn{
    width: 150px;
    background: var(--main);
    color: var(--white) !important;
    border-radius: 8px;
    transition: 0.3;
}

.btn:hover{
    letter-spacing: 2px;
}

html::-webkit-scrollbar{
    width:10px;
}

html::-webkit-scrollbar-thumb{
    background: var(--main);
}

html::-webkti-scrollbar-tarck{
    background: var(--black);
}